.company-title {
    margin: 0;
    border: 0.08em solid black;
    max-width: 12vw;
    padding: 0.4em;
    padding-top: 0.1em;
    font-size: 2vw;
    flex: 1;
    text-align: center;
    flex-grow: 1;
}

.top {
    display: flex;
    width: 98vw;
    height: 5.4vw;
    background-color: #D3D3D3;
    border: 0.125em solid black;
    margin-left: -1em;
    margin-top: -1em;
    padding: 3em;
    padding-left: 0.5em;
    flex: 1;
    min-width: 0;
    align-items: stretch;
    justify-content: space-between;
}

html {
 height: auto;
 width: auto;
 overflow-x: hidden;
 background: center / 20vw 15vw url('https://dudeproducts.com/cdn/shop/articles/gigachad_1068x.jpg?v=1667928905') 
}

.tabs {
    font-size: 0px;
    float: left;
    margin-right: 0;
    margin-left: 0;
    max-width: 73.5vw;
    
}

.tabs button {
    border-right: 0.1em solid black;
    font-size: 1.5vw;
    height: 100%;
    border-top: none;
    border-bottom: none;
    background-color: #D3D3D3;
    max-width: 24.5vw;
    flex: 1;
}

button:hover {
    background-color: gray;
}

button:focus {
    outline: blue;
}

button:active {
    background-color:#7393B3;
}

.startertext {
    color: white;
    text-align: center;
    font-size: 12vh;
}

.title-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.search-section {
    margin: 0;
    max-width: 14.5vw;
    max-height: 3em;
    align-items:center;
    margin-left: 2em;
}
.tabs, .search-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
}