.team-image {
    background-image: url('team-info.jpg');
    height: 40vh;
    width: auto;
    max-width: 60vw;
    margin: 4vh auto;
    background-position: center;
    background-size: 100%;
}